.container{
    position: relative;
    float: left;
    margin:0% 7% 5% 7%;
    transform: translate(107%, 0%);
    transition: 1s;
}

.carousel__btn {
 
  display: none;
  cursor: pointer;
  z-index: 1;
  border-width: 0px;
  border-radius: 50%;
  padding: -5px;
  background-color:transparent;
  border-style: dashed;
  border-color:rgb(255, 255, 255);
  border-width: 2px;
  bottom: 10px;
  width: 50px;
  height: 50px;

  
}

.carousel__btn:hover {
  
  box-shadow: 1px 1px 3px 1px rgb(172, 172, 172);

  background-color: rgba(255, 255, 255, 0.756);
  transform: scale(1.1);
  transition: .5s;
  padding: -5px;
  
}


.show{
    transform: translate(0%, 0%);
    transition: 1s;
}

.col_2{
    position: relative;
    float: left;
    width: 16.6%;
    
}


.col_3{
    position: relative;
    float: left;
    width: 25%;
  
}

.col_4{
    position: relative;
    float: left;
    width: 33%;
   
}

.col_5{
    position: relative;
    float: left;
    width: 41.5%;
    
}

.col_6{
    position: relative;
    float: left;
    width: 49.8%;
   
}

.col_7{
    position: relative;
    float: left;
    width: 58.1%;
  
}

.col_8{
    position: relative;
    float: left;
    width: 64.8%;
    margin: .7%;
   
}

.col_9{
    position: relative;
    float: left;
    width: 74.7%;
    margin: .7%;
   
}

.col_10{
    position: relative;
    float: left;
    width: 83%;
   
}

.col_12{
    position: relative;
    float: left;
    width: 100%;
   
}

.h_2{
    height: 20%;
}
.h_3{
    height: 30%;
}
.h_4{
    height: 40%;
}
.h_5{
    height: 50%;
}
.h_6{
    height: 60%;
}

.h_7{
    height: 70%;
}
.h_8{
    height: 80%;
}

.h_abs_7{
    height: 700px;
}

.resize{
    width: 94%;
    height: 94%;
    margin: 3%;
}


.addHeight_1{
    height:calc(100%+10px);
}

.subHeight_1{
    height:28.7%;
}

.subHeight_2{
    height:39.5%;
}

.subHeight_3{
    height:39.5%;
}

.flex_row_normal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    width: 45%;
    margin-left: 4%;
    margin-top: 50px;
  }

  .flex_row_bet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    
    align-items: baseline;
    align-content: baseline;
  }

  .why_showcase{
    margin-bottom: 10px;
    margin-left: 8%;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
  }
  
.text_no_wrap{
    text-wrap: nowrap;
  }

  .margin_top_small{
    margin-top: 40px;
  }


  .mobile{
    display: none;
  }


  .overlay h2{
    margin-right: 10px;
    display: none;
  }
  
  .overlay h3 {
    margin-right: 10px;
    display: none;
  }
  
  .overlay{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    opacity: .7;
    border-radius: 30px;
    transition: 0.5s;

    &:hover{
      background-color: black;
       h2 ,h3, h4{
        display: block;
        opacity: 1;
        color: white;
      }

      .carousel__btn{
        display: block;
        margin-bottom: 7px;
      }
      transition: 0.5s;
    }
  }

  @media only screen and (max-width: 768px) {
    .mobile{
      display: block;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
     
    }

  .desktop{
    display: none;
  }
   
  
.resize{
  width: 90%;
  margin: 5%;
  height: auto;
}
  }
   
   @media only screen and (max-width: 412px) {
    
    .mobile{
      display: block;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
     
    }

  .desktop{
    display: none;
  }
   
  
.resize{
  width: 90%;
  margin: 5%;
  height: auto;
}
   
   }
   
   
   @media only screen and (max-width: 360px) {
    .mobile{
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
       
      }

    .desktop{
      display: none;
    }
     
    
  .resize{
    width: 90%;
    margin: 5%;
    height: auto;
  }
   
   }
