@import '../../styles/customMediaQueries.css';
.carousel__btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border-width: 0px;
  border-radius: 50%;
  padding: -5px;
  background-color:transparent;
  border-style: dashed;
  border-color: rgb(11, 151, 144);
  border-width: 2px;
  bottom: 10px;
  right: 10px;

}

.carousel__btn:hover {
  
  box-shadow: 2px 2px 10px 2px rgb(172, 172, 172);

  background-color: rgba(255, 255, 255, 0.756);
  transform: scale(1.1);
  transition: .5s;
  padding: -5px;
  
}


.carousel__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.carousel__img:hover {
  transform: scale(1.05);
}

.loca_bg{
  position: absolute;
}




.flex_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.container{
    position: relative;
    float: left;
    margin: 10px 7%;
    
}

.col45{
    position: relative;
    float: left;
    width: 39%;
    height: 360px;
    margin: .75%;
}


.col20{
    position: relative;
    float: left;
    width: 23%;
    height: 360px;
    margin: .75%;
}


.col35{
    position: relative;
    float: left;
    width: 33.5%;
    height: 360px;
    margin: .75%;
}

.resize_image{
    width: 100%;
    height: 360px;
    border-radius: 20px;
}

.show{
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 50px;
  font-weight: 400;
}

.text_no_wrap{
    text-wrap: nowrap;
}

.flex_row_normal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .margin_top_small{
    margin-top: 40px;
  }

   .mobile{
    display: none;
   }

  .desktop{
    
  }
  @media only screen and (max-width: 1400px) {
    .resize_image{
      height: 270px;
      transition: .5s;
    }
  }
  @media only screen and (max-width: 1280px) {
    .resize_image{
      height: 250px;
      transition: .5s;
    }
  }
  @media only screen and (max-width: 1024px) {
    .resize_image{
      height: 250px;
      transition: .5s;
    }
  }
  @media only screen and (max-width: 768px) {
    .carousel__btn{
      height: 50px;
      width: 50px;
    }
    .mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }

    .mobile h1{
      font-size: 35px;
    }

    .desktop{
      display: none;
    }
     
  .h_20{
    height: 20px;
    width: 100%;
  }

  .resize_image{
   
    height: 100%;
  }

  .mag_t_50{
    margin-top: 80px;
  }

  

.img_con{
  position: relative;
  float: left;
  height: 300px;

}
.carousel__btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border-width: 0px;
  border-radius: 50%;
  padding: -5px;
  background-color:transparent;
  border-style: dashed;
  border-color: rgb(11, 151, 144);
  border-width: 2px;
  bottom: 10px;
  right: 10px;

}

.carousel__btn:hover {
  
  box-shadow: 2px 2px 10px 2px rgb(172, 172, 172);

  background-color: rgba(255, 255, 255, 0.756);
  transform: scale(1.1);
  transition: .5s;
  padding: -5px;
  
}

.img_con {
  position: relative;
  float: left;
  height: 300px;
  display: flex;
  margin-bottom: 20px;
}
.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  padding: 50px;
  text-align: center;
}


  }
   
   @media only screen and (max-width: 412px) {
    .carousel__btn{
      height: 100px;
      width: 100px;
    }
    .mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }

    .mobile h1{
      font-size: 35px;
    }


    .desktop{
      display: none;
    }
     
  .h_20{
    height: 20px;
    width: 100%;
  }

  .resize_image{
    
    height: 100%;
  }

  .mag_t_50{
    margin-top: 80px;
  }

  .img_con {
    position: relative;
    float: left;
    height: 300px;
    display: flex;
    margin-bottom: 20px;
  }

  .carousel__btn {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    border-width: 0px;
    border-radius: 50%;
    padding: -5px;
    background-color:transparent;
    border-style: dashed;
    border-color: rgb(11, 151, 144);
    border-width: 2px;
    bottom: 10px;
    right: 10px;
  
  }
  
  .carousel__btn:hover {
    
    box-shadow: 2px 2px 10px 2px rgb(172, 172, 172);
  
    background-color: rgba(255, 255, 255, 0.756);
    transform: scale(1.1);
    transition: .5s;
    padding: -5px;
    
  }
   
   }
   
   
   @media only screen and (max-width: 360px) {

    .carousel__btn{
      height: 100px;
      width: 100px;
    }
    .mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }

    .mobile h1{
      font-size: 35px;
    }

    .desktop{
      display: none;
    }
     
  .h_20{
    height: 20px;
    width: 100%;
  }

  .resize_image{
   
    height: 100%;
  }

  .mag_t_50{
    margin-top: 80px;
  }


  .img_con {
    position: relative;
    float: left;
    height: 300px;
    display: flex;
    margin-bottom: 20px;
  }

  .carousel__btn {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    border-width: 0px;
    border-radius: 50%;
    padding: -5px;
    background-color:transparent;
    border-style: dashed;
    border-color: rgb(11, 151, 144);
    border-width: 2px;
    bottom: 10px;
    right: 10px;
  
  }
  
  .carousel__btn:hover {
    
    box-shadow: 2px 2px 10px 2px rgb(172, 172, 172);
  
    background-color: rgba(255, 255, 255, 0.756);
    transform: scale(1.1);
    transition: .5s;
    padding: -5px;
    
  }
   
   }
